<div class="login-form">
  <label>Login</label>
  <input class="login-username"type="text" id="username" placeholder="username" />
  <input class="login-password" type="password" id="password" placeholder="********" />
  <input type="submit" value="Submit" class="login-button btn btn-primary" disabled="true">        
</div>
<h3>Or</h3>
<div class="signup-form">
  <label>Signup</label>
  <input class="signup-username"type="text" id="username" placeholder="username" />
  <input class="signup-password" type="password" id="password" placeholder="********" />
  <input type="submit" value="Submit" class="signup-button btn btn-primary" disabled="true"> 
</div>